body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
  }
  
  .navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }
  section {
    padding: 100px 0;
  }
  body {
    padding-top: 56px; /* Adjust if you use fixed navbar */
  }

  .nav-pills .nav-link {
    background-color: #f8f9fa;
    color: #333;
    margin-bottom: 10px;
    border-radius: 0.5rem;
  }

  .nav-pills .nav-link.active {
    background-color: #678170 !important; /* Bootstrap's primary */
    color: white;
  }

  .nav-pills .nav-link:hover {
    background-color: #678170 ;
    color: #383f3b;
  }
  
  